.Header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 0 32px;
  background: linear-gradient(270.29deg, #f68536 31.77%, #ffffff 69.27%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 4px 4px;
}

.Header__logo-wrapper {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.Header__heading-text {
  font-size: 1.25rem;
}
