.InstanceGroupSelector__wrapper {
  display: flex;
  column-gap: 40px;
  width: 100%;

  @media screen and (max-width: 900px) {
    flex-wrap: wrap;
    row-gap: 16px;
  }
}

.InstanceGroupSelector__field {
  width: 18%;
  min-width: 250px;
}
