.InstanceGroupSelector__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  column-gap: 40px;
  width: 100%;

  @media screen and (max-width: 900px) {
    flex-wrap: wrap;
    row-gap: 16px;
  }
}

.InstanceGroupSelector__field {
  width: 18%;
  min-width: 250px;
}

.InstanceGroupSelector__label {
  position: relative;
  color: #585858;
  font-weight: 500;
  font-size: 0.95rem;
}

.InstanceGroupSelector__label--required {
  &::after {
    content: '*';
    color: #c73939;
    position: absolute;
    right: -8px;
    top: 0;
  }
}

.InstanceGroupSelector__warning {
  position: absolute;
  color: #c73939;
  font-size: 0.85rem;
  font-style: italic;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% + 16px);
  padding: 6px 16px;
  border-radius: 8px;
  background-color: rgba(255, 124, 124, 0.2);
}
