.DetailsCard {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 280px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 10px 10px 18px 10px;
  gap: 24px;
  overflow-y: auto;
}

.DetailsCard__close {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  position: absolute;
  right: 10px;
  top: 10px;
  font-weight: 700;
  font-size: 0.9rem;
  padding: 4px;
  cursor: pointer;

  &:hover {
    background: #ebebeb;
  }
}

.DetailsCard__title {
  color: #585858;
  font-size: 1.25rem;
  font-weight: bold;
}

.DetailsCard__description-background {
  background-color: #f5f5f5;
  padding: 8px;
  border-radius: 4px;
}

.DetailsCard__details-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.DetailsCard__details-wrapper {
  display: inline-flex;
  gap: 8px;
}

.DetailsCard__details-title {
  font-size: 0.85rem;
  font-weight: 500;
}

.DetailsCard__description,
.DetailsCard__details {
  font-size: 0.85rem;
  font-style: italic;
  color: #585858;
}

.DetailsCard__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #9d5025 0%, #f68536 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 8px;
}

.DetailsCard__banner-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.DetailsCard__banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.DetailsCard__banner-label {
  color: #fff;
  font-size: 0.85rem;
}

.DetailsCard__banner-value {
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
}

.DetailsCard__summary-wrapper {
  height: 100%;
}

.DetailsCard__summary {
  padding-left: 8px;

  & > :not(:first-child) {
    padding: 8px 0;
  }
}

.DetailsCard__summary-divider {
  height: 1px;
  background-color: #585858;
  margin-top: 8px;
}

.DetailsCard__price {
  font-weight: bold;
  color: #9d5025;
  border-bottom: 1px dotted #9d5025;
  cursor: pointer;
}

.DetailsCard__tooltip-wrapper {
  position: relative;

  &:hover {
    .DetailsCard__tooltip-text {
      visibility: visible;
      opacity: 1;
    }
  }
}

.DetailsCard__tooltip-text {
  color: #fff;
  font-size: 0.85rem;
  position: absolute;
  z-index: 2;
  visibility: hidden;
  width: 200px;
  background-color: #555;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  left: 50%;
  bottom: 135%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
}
