@use './reset.scss';

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background: url('../../_assets/bg.webp');
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
}

* {
  scrollbar-gutter: stable;

  &::-webkit-scrollbar {
    background: #d9d9d9;
    border-radius: 4px;
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background: #d9d9d9;
    background-clip: padding-box;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: #9d5025;
    background-clip: padding-box;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb:active {
    background: #662905;
  }
}

.App {
  display: grid;
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 32px;
}

.App__row {
  width: 100%;
  padding: 0 32px;
  margin: 0 auto;
}

.App__title {
  font-weight: 700;
  font-size: 2rem;
  color: #585858;
}

.App__description {
  color: #585858;
  font-size: 1rem;
  line-height: 2;
  background-color: #f1f1f1;
  border-radius: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
}
